[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.3"
pandas = "==2.1"
pandas-gbq = "==0.20"
jupyter = "*"
ipykernel = "*"
plotly = "*"

[dev-packages]
black = "==23.12"

[requires]
python_version = "3.11"
